<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Stats</title>
    <link rel="stylesheet" href="/static/fPage.css">
    <script defer src="/static/fPage.js"></script>
</head>
<body>
    <header>
        <div class="logo">Logo</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/drivers">Drivers</a></li>
                <li><a href="/teams">Teams</a></li>
                <!-- <li><a href="#">Comparison</a></li> -->
                <li><a href="/login" >Login</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="hero" >
        <div class="overlay"></div>
        <div class="hero-content">
            <h1>Track, compare, and explore F1 drivers and teams with real-time stats</h1>
            <div class="buttons">
                <button id="driversBtn">Driver</button>
                <button id="teamsBtn">Teams</button>
            </div>
        </div>
    </section>
</body>
</html>
