* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: white;
  background: url('https://s3-alpha-sig.figma.com/img/ca9c/1495/f53eaefce06893bf397053cc5e928d24?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=WeTqvyuDZ2yFM3N9Ce9Hx4dpDS5-Sp6l9KpQ8l5~2E7GkWje1HjBy-Y8CfFebjxMov6Yxls6EioK~e52b-wN83i4jIiNJTIub5cUCiYCNnT6cCDuSdrJlz3lTeoQ2EftvWI07R3LDaa-SMFkCa5C5XdkPPd91QKg852VuLfT0qWIzGuSXm0zNYpeSbo1Y8eqnv6q4YOLMAzq0Iw5AniKZCUf6czKSdbOMwybzHHssvguGsVK8bAw8hP-knxJ1~fGmz1kRrKu6lWTtiYATBVh301mAomfgHyhnph93flE7oX2~yCgkZU0xJpC8a61Q6WvvU8dxZo2L~PtcuBF15GtEw__') no-repeat center center/cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

nav ul li

.nav-link:hover,
.nav-link.active {
    background: blue;
    border-radius: 5px;
}

.logout {
  font-weight: bold;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  
}

.overlay {
  position: absolute;
  width: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 500px;
}

.hero-content h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  color: white;
  background: blue;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.anchor{
  text-decoration: none !important;
  color: white !important;
  font-size: 16px !important;
  cursor: pointer !important;
}
