
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar a.active {
    color: blue;
}

.logout {
    color: gray;
    font-weight: bold;
}

.search-container {
    background-color: #f8f9fc;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
}

.search-container h2 {
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.search-form select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 220px;
}

.search-btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.search-btn:hover {
    background-color: darkblue;
}

.table-container {
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
width: 100%;
border-collapse: collapse;
}

th, td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
font-size: 14px;
color: gray;
font-weight: normal;
}

td {
font-size: 14px;
font-weight: bold;
}

.team {
color: blue;
font-weight: bold;
}

.actions {
display: flex;
gap: 10px;
align-items: center;
}

.actions i {
cursor: pointer;
font-size: 16px;
color: blue;
}

.checkbox-cell {
text-align: center;
}

input[type="checkbox"] {
width: 18px;
height: 18px;
accent-color: blue;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination span {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination span.active {
    background-color: blue;
    color: white;
}
.dropdown-container {
max-width: 300px;
display: flex;
flex-direction: column;
gap: 15px;
}


.custom-dropdown {
width: 100%;
padding: 10px;
border-radius: 6px;
background: #282828;
color: white;
border: 1px solid #555;
cursor: pointer;
}

.custom-dropdown:hover {
border-color: #888;
}

.custom-multi-dropdown {
position: relative;
}

.dropdown-options {
display: none;
position: absolute;
top: 40px;
left: 0;
background: #282828;
border: 1px solid #555;
border-radius: 6px;
width: 100%;
padding: 10px;
flex-direction: column;
gap: 8px;
}

.custom-multi-dropdown:hover .dropdown-options {
display: flex;
}

.dropdown-options label {
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
}

input[type="checkbox"] {
accent-color: #888;
width: 16px;
height: 16px;
}
